form {
    width: 100%;
    text-align: center;
}

.buttonSubmit {
    width: 15rem;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: #000;
    margin: 2em;
    font-size: 1.4rem;
}

.buttonSubmit:focus,
.buttonSubmit:focus {
    outline: none;
}