@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #000;
    background-color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center;
}